@import '~reset-css/reset.css'; 
@import '../../config/_variables';

.comments {
  margin-bottom: 12px;
  .list {
  }
}
.comment {
  margin-bottom: 7px;
  .username {
    font-weight: 700;
  }
  .message {
    font-weight: 400;
  }
}
